*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
}
button {
	font-family: 'Poppins', sans-serif;
}
header{
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
}
.logo-txt{
  font-weight: 400;
  margin: 5px;
  color: #5f5f76;
}
.logo-container,.navitems,.cart{
  display: flex;
}
.navitems{
  list-style: none;
  justify-content: space-around;
}
.nav-link{
  text-decoration: none;
  font-size: 18px;
  color: #5f5f76;
}

.logo-container{
  flex: 1;
}
nav{
  flex: 2;
}
.cart{
  flex: 1;
  justify-content: flex-end;
}
.presentation{
  display: flex;
  width: 90%;
  min-height: 80vh;
  margin: auto;
  align-items: center;
}
.intro-text h1{
  font-weight: 500;
  font-size: 40px;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text p{
  margin-top: 5px;
  font-size: 22px;
  color: #585772;
}
.cta {
	padding: 50px 0px 0px 0px;
}
.cta-select {
	border: 2px solid #c36cbb;
	background: transparent;
	color: #c36cbb;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
}
.cta-add {
	background: #c36cbb;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color: white;
	margin: 30px 0px 0px 30px;
}
.introduction{
  flex:1;
  
}
.cover{
  flex: 1;
  display: flex;
  justify-content: center;
}
.cover img{
  height: 400px;
  filter: drop-shadow(0 5px 3px black);
  animation: drop 1.5s ease;
}
.big-circle{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: .4;
  height: 80%;
}
.medium-circle{
  position: absolute;
  top: 280px;
  right: 400px;
  height: 50%;
  z-index: -1;
  opacity: .4;
}
.small-circle{
  position: absolute;
  bottom: 0;
  left: 450px;
  height: 30%;
  z-index: -1;
  opacity: 1;
}
.laptop-select{
  width: 15%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 27%;
}
@keyframes drop {
  0%{
    opacity: 0;
    transform: translateY(-80px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 870px) {
  .presentation{
    flex-direction: column;
  }
  .introduction{
    margin: 30px;
    text-align: center;
  }
  .intro-text h1{
    font-size: 30px;
    line-height: 1.5;
  }
  .intro-text p{
    font-size: 20px;
  }
  .cta{
    padding-top: 20px;
  }
  .cover img{
    margin-top:0;
    height: 300px;
  }
  .laptop-select{
    width: 30%;
    position: absolute;
    right: 36%;
  }
  .medium-circle, .small-circle{
    display: none;
  }
  .big-circle{
    width: 70%;
    opacity: .3;
  }
}
